body {
  max-width: 1000px;
  height: 98vh;
  background-image: url("../images/crumpled_paper_bg.jpg");
  background-size: cover;
}
#header,
#content,
#footer {
  width: 100%;
  text-align: center;
  position: relative;
}
#header {
  height: 10%;
}
#content {
  height: 80%;
}
#footer {
  height: 10%;
}
#header .header_btn {
  position: absolute;
  right: 3%;
  top: 30%;
  width: 2.5em;
  height: 2.5em;
  background-size: cover;
}
#header.main .header_btn {
  background-image: url("../images/settings.png");
}
#header.setting .header_btn {
  background-image: url("../images/turn-back.png");
}
#header.result .header_btn {
  background-image: url("../images/home.png");
}
#content :where(#content_setting, #content_result) {
  display: none;
}
#content .content_box {
  width: 100%;
  height: 100%;
}
#content .content_box #pick_btn {
  width: 50%;
  margin: 25% 25%;
}
#content .content_box #result_bix {
  font-size: 3em;
  margin-bottom: 2rem;
}
#content .content_box #result_box {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 25%;
  border: 1px solid rgb(0, 0, 0, 0.5);
  background-color: aliceblue;
}
#content .content_box #again_btn {
  position: absolute;
  top: 40%;
  left: 35%;
  width: 30%;
}
